# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cache

# Caches
py_src/__pycache__
py_src/fr3_envs/__pycache__
py_src/fr3_envs/bases/__pycache__
py_src/utils/__pycache__

py_src/models/__pycache__
py_src/models/tqc/__pycache__
py_src/models/classifier/__pycache__