# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cache

# Caches
franka_valve/__pycache__
franka_valve/fr3_envs/__pycache__
franka_valve/fr3_envs/bases/__pycache__
franka_valve/utils/__pycache__

franka_valve/models/__pycache__
franka_valve/models/tqc/__pycache__
franka_valve/models/classifier/__pycache__

# pypi packages
franka_valve.egg-info
dist/

MUJOCO_LOG.TXT
.vscode
.idea
build/lib/